<div class="container">
    <img src="~/images/faleconosco.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir a sua opinião de bosta</h3>
        <p>Se você tiver alguma duvida ou sugestão é só mandar pra gente</p>
        <p>Não que a gente vá ler de qualquer jeito :)</p>
        <p>
            <span>
                <img src="~/images/Envelopes.png" />
            </span>
            <h5><email endereco="casadocaraio@pqp.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone.jpg" />
            </span>
            <h5>(66) 96924-1169</h5>
            <br />
            <span>
                <img src="~/images/Casa.png" />
            </span>
            <h5>Av. Cabeça do meu saco 999 - 02469-111 - Casa do kraios </h5>
        </p>
    </div>
</div>