<img src="~/images/AdminLogo.png" height="250" width="200" alt="Area do ademir" class="marginTop" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Aqui é a area do ademir do site YEAH!</h2>
        </p>
    </div>
</div>