@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Santos Lanches</h1>
    <partial name="_Carousel" />
</div>

<div>
    <p> </p>
    <p> </p>

    <h2>Os favoritos da galera</h2>
    <h4>Deu fome?</h4>
    <div class="row">
        @foreach (var lanche in Model.LanchesPreferidos)
        {
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
</div>

