@model FileManagerModel

@{
    ViewBag.Title = "Arquivos";
}

@if(Model.Files.Count() != 0){
    <h3>Imagens:</h3>
    <hr />
    var caminho = Model.PathImagesProdutos;
    <div class="row">
        @foreach(FileInfo file in Model.Files)
        {
            <div class="col-2">
                <img src="~/@caminho/@file.Name" width="125" height="125" title="@file.Name" asp-append-version=true>
                <div style="padding:10px;text-align:left">
                    <a href="@Url.Action("Deletefile","AdminImagens",new {fname=file.Name})">Deletar</a>
                </div>
            </div>
        }
    </div>
}
else{
    <h1>Nenhum arquivo encontrado na pasta: @Model.PathImagesProdutos</h1>
}

<div>
    <a class="btn btn-outline-info" asp-area="Admin" asp-controller="AdminImagens" asp-action="Index">Voltar a pagina anterior</a>
</div>